* {
  font-family: "Roboto", sans-serif;
}

.header {
  border-bottom: 1px solid #D3D3D3;
}
.header__top-panel {
  margin: 0 auto;
  height: 110px;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  align-self: center;
}
.header__nav {
  display: flex;
  width: 750px;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 500px;
}
.header__link {
  font-size: 18px;
  color: #494949;
  text-decoration: none;
}
.header__phone {
  margin-bottom: -5px;
  margin-top: -2px;
  font-size: 24px;
}
.header__icons {
  display: flex;
  width: 100px;
  height: 30px;
}

.icon {
  width: 100%;
  height: 100%;
}

.special {
  max-width: 1400px;
  margin: 0 auto;
}

.section-headlings {
  display: flex;
  justify-content: space-between;
}
.section-headlings__headling {
  font-family: SF Compact Rounded;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}
.section-headlings__link-wrapper {
  display: flex;
  align-items: center;
}
.section-headlings__arrow {
  width: 44px;
  height: 10px;
  margin-left: 10px;
}
.section-headlings__arrow_color_red {
  fill: #D41A36;
}
.section-headlings__link_color_red {
  color: #D41A36;
}

.card {
  position: relative;
  padding: 10px;
  width: 250px;
  height: 322px;
  border-radius: 4px;
  border: 0.7px solid rgba(134, 134, 134, 0.1);
}
.card__offer-lable {
  display: block;
  position: absolute;
  left: 0;
  top: 17px;
  z-index: -1;
}
.card__offer-lable_type_leader {
  fill: #F2994A;
}
.card__name {
  margin-top: -5px;
}
.card__offer-text {
  color: white;
  font-size: 12px;
}
.card__favourite-icon {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 17px;
  right: 8px;
  fill: #5661CB;
}
.card__image {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 145px;
  height: 86px;
}
.card__text {
  margin-top: -10px;
  color: #494949;
}
.card__free-ship-text {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #7d7d7d;
  font-size: 12px;
}
.card__available-text {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #27AE60;
  font-size: 12px;
}
.card__bottom-text {
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
}
.card__prices {
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__current-price {
  font-size: 12px;
}
.card__current-price span {
  font-size: 20px;
  font-weight: bold;
}
.card__old-price {
  font-size: 10px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.card__old-price span {
  font-size: 14px;
}
.card__buttons-line {
  display: flex;
  justify-content: space-between;
}
.card__button-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin: 7px auto;
}
.card__add-to-card-button {
  display: block;
  width: 55px;
  height: 33px;
  border: #5661CB solid 2px;
  border-radius: 10px;
}

.button {
  background-color: #5661CB;
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 10px 40px;
  border-radius: 8px;
  font-size: 14px;
}/*# sourceMappingURL=styles.css.map */